<ul id="hexGrid">
    <li class="hex">
        <app-hex></app-hex>
    </li>
    <li class="hex">
        <app-hex></app-hex>
    </li>
    <li class="hex">
        <app-hex></app-hex>
    </li>
    <li class="hex">
        <app-hex></app-hex>
    </li>
    <li class="hex">
        <app-hex></app-hex>
    </li>
    <li class="hex">
        <app-hex></app-hex>
    </li>
    <li class="hex">
        <app-hex></app-hex>
    </li>
    <li class="hex">
        <app-hex></app-hex>
    </li>
    <li class="hex">
        <app-hex></app-hex>
    </li>
</ul>